.card {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 300px;
height: 400px;
padding-top: 24px;
background-color: #74CB48;
border-radius: 15px;


}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    font-weight: 700;
    color: white;
}

.card__name {
    font-size: 24px;
    line-height: 32px;
    

}

.card__number {
    font-size: 12px;
    line-height: 16px;
    


}

.card__information {
    height: 240px;
    margin: 5px;
    background-color: white;
    border-radius: 8px;
}

.card__power {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    background-color: white;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    color: white;
    


}

.card__power1{
    display: flex;
    justify-content: center;
    position:relative;
    right: 16px;
    align-items:center;
    background-color: #74CB48;
    border-radius: 10px;
    width: 46px;
    height: 20px;
}

.card__power2 {
    display: flex;
    justify-content: center;
    position:relative;
    left: 16px;
    align-items:center;
    background-color: #A43E9E;
    border-radius: 10px;
    width: 51px;
    height: 20px; 
}

.card__information_title {
    display: flex;
    justify-content: center;
    color: #74CB48;
    font-weight: 700;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;

}

.card__boxHeightWeight {
    display:flex;
    justify-content: center;

}

.card__boxWeight {
    width: 50px;
    position: relative;
    right: 62px;

}
.card__line {
    border-right: solid #E0E0E0 ;
    width: 1px;
    height: 48px;
    
}